header{
    height:70px;
    color: white;
    width:100%;
    border-bottom: 1px #CCCCC ;
}
.logo{
background-image: url("/web_static/images/kisspng-power-bi-logo-business-intelligence-font-data-datacarrot-bespoke-development-service-5c5af4c0c58594.6941448015494647688091.jpg");
width: 300;
height: 300;
margin-right: 20;
}